body{
	margin: 0px auto;
	padding: 0px auto;
	background: #013643;
}

.mainDiv{
	margin: 35px auto;
	width: 950px;
	height: 560px;
	background: green;
}

.div1{
	width: 320px;
	height: 210px;
	background: black;
	float: left;
	/*display: inline-block;*/
	border-bottom: 2px solid #4194C6;
}

.div2{
	width: 320px;
	height: 320px;
	background: black;
	margin-top: 30px;
	float: left;
}